# Teste Rápido (Sandbox)

Este notebook é um "rascunho" para testar rapidamente uma função em um dos datasets antes de movê-la para um módulo `.py` e criar um teste formal.

**Fluxo de trabalho:**
1.  Execute a **Etapa 1** (abaixo) *apenas uma vez* para carregar os dados.
2.  Cole sua função de rascunho na **Etapa 2** e execute a célula.
3.  Chame sua função na **Etapa 3** e veja o resultado.
4.  Repita as etapas 2 e 3 quantas vezes for necessário.

### Etapa 1: Carregar Bibliotecas e Dataset de Teste

Carrega o dataset original (`.xlsx`) para a variável `df_teste`.

In [1]:
import pandas as pd
from pathlib import Path
import openpyxl  # Necessário para o pandas ler .xlsx
from typing import List, Optional # Para os type hints da função

# --- Carregar Dataset ---
# O notebook está em 'Preparação_dos_Dados', subimos um nível (.. ou .parent)
# para a pasta 'TCD' e entramos em 'Datasets'

NOME_ARQUIVO_XLSX = "default_of_credit_card.xlsx"

try:
    # Path.cwd() = C:\..._Dados
    raiz_TCD = Path.cwd().parent 
    path_xlsx = raiz_TCD / "Datasets" / NOME_ARQUIVO_XLSX
    
    # Carrega o DataFrame que será usado para todos os testes
    df_teste = pd.read_excel(path_xlsx)
    
    print(f"Dataset '{NOME_ARQUIVO_XLSX}' carregado com sucesso.")
    print(f"Shape: {df_teste.shape}")
    display(df_teste.head())
    
except FileNotFoundError:
    print(f"ERRO: Arquivo '{NOME_ARQUIVO_XLSX}' não encontrado em '{raiz_TCD / 'Datasets'}'.")
    print("Verifique o caminho e a estrutura de pastas.")
except Exception as e:
    print(f"Ocorreu um erro ao carregar o arquivo: {e}")

c:\Users\gabri\OneDrive\Documentos\TCD\venv\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

Dataset 'default_of_credit_card.xlsx' carregado com sucesso.
Shape: (30000, 25)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,798fc410-45c1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,8a8c8f3b-8eb4,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,85698822-43f5,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,0737c11b-be42,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,3b7f77cc-dbc0,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

### Etapa 2: Cole sua Função para Testar

Cole a definição da sua função (o `def ... :`) na célula abaixo. Você pode re-executar esta célula quantas vezes quiser para atualizar a lógica.

In [2]:
# --- COLE SUA FUNÇÃO AQUI ---
# (Coloquei a primeira função como exemplo)

def remove_rows_all_zeros_except(
    df: pd.DataFrame,
    cols_to_ignore: Optional[List[str]] = None,
    inplace: bool = False
) -> Optional[pd.DataFrame]:
    """
    Remove linhas de um DataFrame onde todas as colunas, exceto as especificadas, são zero.
    """
    if not isinstance(df, pd.DataFrame):
        raise TypeError("O argumento 'df' deve ser um DataFrame do pandas.")

    df_copy = df if inplace else df.copy()

    cols_to_check = df_copy.columns
    if cols_to_ignore:
        non_existent_cols = [col for col in cols_to_ignore if col not in df_copy.columns]
        if non_existent_cols:
            raise ValueError(f"As seguintes colunas não existem no DataFrame: {non_existent_cols}")
        cols_to_check = df_copy.columns.drop(cols_to_ignore)

    # Máscara para identificar linhas onde todas as colunas a verificar são zero
    zero_mask = (df_copy[cols_to_check] == 0).all(axis=1)

    rows_to_drop = df_copy[zero_mask].index
    df_copy.drop(rows_to_drop, inplace=True)

    if inplace:
        return None
    else:
        return df_copy

print("Função de teste definida/atualizada.")

Função de teste definida/atualizada.

### Etapa 3: Executar e Verificar

Execute a célula abaixo para chamar sua função no dataset e ver o resultado.

In [3]:
# --- EXECUTE O TESTE AQUI ---

# Criamos uma cópia para não precisar recarregar o original (df_teste) toda vez
df_para_testar = df_teste.copy()

print(f"Shape ANTES da função: {df_para_testar.shape}")

try:
    # --- Chame sua função ---
    # Altere os parâmetros conforme necessário
    df_resultado = remove_rows_all_zeros_except(df_para_testar, cols_to_ignore=['ID'])
    
    print(f"Shape DEPOIS da função: {df_resultado.shape}")
    
    # Mostra o resultado
    print("\nCabeçalho do resultado:")
    display(df_resultado.head())

except Exception as e:
    print(f"\nERRO AO EXECUTAR A FUNÇÃO: {e}")

Shape ANTES da função: (30000, 25)
Shape DEPOIS da função: (29685, 25)

Cabeçalho do resultado:

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,798fc410-45c1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,8a8c8f3b-8eb4,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,85698822-43f5,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,0737c11b-be42,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,3b7f77cc-dbc0,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0